[Unit]
Description=Telegram Bot
After=multi-user.target
Conflicts=getty@tty1.service

[Service]
Type=simple
User=pi
ExecStart=/home/pi/go/gs-tgbot/main
StandardInput=tty-force

[Install]
WantedBy=multi-user.target